In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [13]:
# Store the CSV created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2020-10-27 15:46:24,-33.65,115.33,59.00,71,52,9.35
1,1,Bluff,NZ,2020-10-27 15:46:34,-46.60,168.33,39.99,90,4,1.01
2,2,Pitimbu,BR,2020-10-27 15:46:34,-7.47,-34.81,86.00,58,40,11.41
3,3,Punta Arenas,CL,2020-10-27 15:46:34,-53.15,-70.92,46.00,49,92,18.99
4,4,Bredasdorp,ZA,2020-10-27 15:46:35,-34.53,20.04,71.60,56,88,21.92

In [14]:
# Get the data types for the dataframe.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [61]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [62]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center =(30.0, 31.0), zoom_level = 1.2)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 8)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[['Lat','Lng']]

# Get the humidity.
humidity = city_data_df['Humidity']

# Assign the figure variable.
fig = gmaps.figure(center =(30.0, 31.0), zoom_level = 1.2)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 8)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[['Lat','Lng']]

# Get the humidity.
clouds = city_data_df['Cloudiness']

# Assign the figure variable.
fig = gmaps.figure(center =(30.0, 31.0), zoom_level = 1.2)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 8)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[['Lat','Lng']]

# Get the humidity.
wind = city_data_df['Wind Speed']

# Assign the figure variable.
fig = gmaps.figure(center =(30.0, 31.0), zoom_level = 1.2)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 8)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Pitimbu,BR,2020-10-27 15:46:34,-7.47,-34.81,86.00,58,40,11.41
5,5,The Valley,AI,2020-10-27 15:46:35,18.22,-63.06,86.00,83,75,17.22
6,6,Cabo San Lucas,MX,2020-10-27 15:46:36,22.89,-109.91,79.00,64,5,6.44
11,11,Saint-Philippe,RE,2020-10-27 15:46:38,-21.36,55.77,77.00,69,75,4.70
16,16,Victoria,HK,2020-10-27 15:45:52,22.29,114.16,77.00,76,81,22.21
17,17,Bonthe,SL,2020-10-27 15:46:39,7.53,-12.51,85.32,69,83,8.14
19,19,Kununurra,AU,2020-10-27 15:46:11,-15.77,128.73,82.40,69,76,5.82
22,22,Souillac,MU,2020-10-27 15:46:40,-20.52,57.52,75.20,73,75,5.82
23,23,Kapaa,US,2020-10-27 15:46:41,22.08,-159.32,77.88,69,100,3.74
31,31,Anloga,GH,2020-10-27 15:44:04,5.79,0.90,86.00,74,40,11.41

In [45]:
# Determine if there are any null values in the dataframe
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [47]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
2          Pitimbu      BR     86.00  -7.47  -34.81
5       The Valley      AI     86.00  18.22  -63.06
6   Cabo San Lucas      MX     79.00  22.89 -109.91
11  Saint-Philippe      RE     77.00 -21.36   55.77
16        Victoria      HK     77.00  22.29  114.16
17          Bonthe      SL     85.32   7.53  -12.51
19       Kununurra      AU     82.40 -15.77  128.73
22        Souillac      MU     75.20 -20.52   57.52
23           Kapaa      US     77.88  22.08 -159.32
31          Anloga      GH     86.00   5.79    0.90

In [52]:
# Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging", "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f"{lat}, {lng}"
    
    # Use base URL to search for 'lodging'
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search for our latitude and longitude.
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found....skipping.")
hotel_df.head(10)

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Pitimbu,BR,86.00,-7.47,-34.81,Reserva do Abiaí
5,The Valley,AI,86.00,18.22,-63.06,CeBlue Villas & Beach Resort
6,Cabo San Lucas,MX,79.00,22.89,-109.91,Hotel Tesoro Los Cabos
11,Saint-Philippe,RE,77.00,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
16,Victoria,HK,77.00,22.29,114.16,Mini Hotel Central
17,Bonthe,SL,85.32,7.53,-12.51,Bonthe Holiday Village
19,Kununurra,AU,82.40,-15.77,128.73,Hotel Kununurra
22,Souillac,MU,75.20,-20.52,57.52,Bils' Villa
23,Kapaa,US,77.88,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
31,Anloga,GH,86.00,5.79,0.90,Pin Drop Hotel

In [60]:
# Add a heatmap of temperature for the vacation spots, and a marker for each city.
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps. figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
'''

In [58]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Edit heatmap of temperature for the vacation spots, and a marker for each city to include the info box content.
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps. figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))